.promo {
  position: relative;
  background: linear-gradient(
    42.01deg,
    #323264 14.33%,
    #323264 51.39%,
    #7a425e 87.53%
  );
  height: 920px;
}

.promo_wrapper {
  position: relative;
  height: 100%;
  background: url(../img/promo/kydri.svg) center 180px / contain no-repeat;
}

.promo_img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.promo_shade {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.promo_title {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;
  transform: translate(-50%, 25%);
  font-size: 38px;
  max-width: 460px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
}

.promo_link {
  border: 1px solid #ffffff;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 40px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  z-index: 5;
}
