@font-face {
  font-family: "TT-Regular";
  src: url(../fonts/TTNorms-Regular.woff);
}

@font-face {
  font-family: "TT-Medium";
  src: url(../fonts/TTNorms-Medium.woff);
}

@font-face {
  font-family: "TT-Bold";
  src: url(../fonts/TTNorms-Bold.woff);
}
